html, body, div, svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

.danger>.hex-text, .silent>.hex-text {
  font-family: "Courier New", Courier, monospace;
  fill: rgb(121, 121, 121);
}

.danger>use {
  fill: lightgrey;
}

.silent>use {
  fill: white;
}

.key>.hex-text {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  fill: white;
}

.key>use {
  fill: black;
}
