svg {
  user-select: none;
  width: 100vw;
  height: 90vh;
}


text.danger, text.silent {
  font-family: 'Roboto Mono', monospace;
  fill: rgb(121, 121, 121);
}

use.danger {
  fill: lightgrey;
}

use.silent {
  fill: white;
}

text.key {
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  fill: white;
}

use.key {
  fill: black;
}

use.current {
  fill: gold;
  opacity: 70%;
}

use.can-move {
  fill: lightblue;
  opacity: 70%;
}

use.menu {
  fill: gold;
}

use.highlight {
  fill: none;
}
