html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

svg {
  user-select: none;
  width: 100vw;
  height: 75vh;
}

h1,h2,h3,h4,h5,h6 {
  /* text-align: center; */
  /* height: 5vh; */
  margin: 0;
}

.centered {
  text-align: center;
}

text.danger, text.silent {
  font-family: 'Roboto Mono', 'Fira Mono', 'DejaVu Sans Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Monaco', 'Lucida Console', monospace;
  font-size: medium;
  fill: rgb(121, 121, 121);
}

svg text{
  text-anchor: middle;
  dominant-baseline: middle;
}

text.emoji {
  font-size: xx-large;
}

use.danger {
  fill: lightgrey;
}

use.silent {
  fill: white;
}

text.key {
  font-family: 'Roboto Mono', 'Fira Mono', 'DejaVu Sans Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Monaco', 'Lucida Console', monospace;
  font-size: x-large;
  fill: white;
}

use.key {
  fill: black;
}

text.fail {
  font-family: 'Roboto Mono', 'Fira Mono', 'DejaVu Sans Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Monaco', 'Lucida Console', monospace;
  font-size: xx-large;
  fill: white;
}

use.fail {
  fill: red;
  opacity: 50%;
}

text.success {
  font-family: 'Roboto Mono', 'Fira Mono', 'DejaVu Sans Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Monaco', 'Lucida Console', monospace;
  font-size: xx-large;
  fill: white;
}

use.success {
  fill: green;
  opacity: 50%;
}

use.current {
  fill: gold;
  /* opacity: 70%; */
}

use.can-move {
  fill: lightblue;
  /* opacity: 70%; */
}

use.menu {
  fill: gold;
}

use.highlight {
  fill: none;
}

select>option {
  color: white;
  background-color: black;
}
